<div class="{{className}}" data-aos="fade-up" data-aos-delay="100">
    <div class="box">
      <h3>Heero Basics</h3>
      <h4>24.5<sup>TND</sup><span>per month</span></h4>
      <ul>
        <li><i class="bx bx-check"></i> 25 produits</li>
        <li><i class="bx bx-check"></i> Commandes illimités </li>
        <li><i class="bx bx-check"></i> 2 utilisatuers</li>
       <!--  <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
        <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li> -->
      </ul>
      <a [routerLink]="['register']" class="buy-btn">Get Started</a>
    </div>
  </div>
