<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Pricing</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>
      <div class="row">
        <app-pricing-card></app-pricing-card>
    

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Heero Basics</h3>
            <h4>24.5<sup>TND</sup><span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> 25 produits</li>
              <li><i class="bx bx-check"></i> Commandes illimités </li>
              <li><i class="bx bx-check"></i> 2 utilisatuers</li>
             <!--  <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
              <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li> -->
            </ul>
            <a [routerLink]="['register']" class="buy-btn">Get Started</a>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Heero Silver</h3>
            <h4>59<sup>TND</sup><span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> 150 produits</li>
              <li><i class="bx bx-check"></i> Commandes illimités </li>
              <li><i class="bx bx-check"></i> 3 utilisatuers</li>
              <!-- <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
              <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
              <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
              <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
              <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li> -->
            </ul>
            <a href="#" class="buy-btn">Get Started</a>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <h3>Heero Gold</h3>
            <h4>99<sup>TND</sup><span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> 1000 produits</li>
              <li><i class="bx bx-check"></i> Commandes illimités </li>
              <li><i class="bx bx-check"></i> 5 utilisatuers</li>
            </ul>
            <a href="#" class="buy-btn">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>